@charset "utf-8";
/*公用样式*/
/*基础颜色*/
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
  font-family: "微软雅黑", "microsoft yahei", Arial, sans-serif;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
/* HTML5 媒体文件跟 img 保持一致 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* 要注意表单元素并不继承父级 font 的问题 */
button,
input,
select,
textarea {
  font: 500 14px/1.8 "微软雅黑", "microsoft yahei", Arial, sans-serif;
}
/* IE6 Button 宽度自适应 */
button,
input {
  *width: auto;
  *overflow: visible;
}
/* 去掉各Table  cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* IE bug fixed: th 不继承 text-align*/
th {
  text-align: inherit;
}
/* 去除默认边框 */
fieldset,
img {
  border: 0;
}
/* 解决 IE6-7 图片缩放锯齿问题 */
img {
  -ms-interpolation-mode: bicubic;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
  display: block;
}
blockquote blockquote {
  padding: 0 0 0 1em;
  margin-left: 2em;
  border-left: 0.4em solid #ddd;
}
/* Firefox 以外，元素没有下划线，需添加 */
acronym,
abbr {
  border-bottom: 1px dotted;
  font-variant: normal;
}
/* 添加鼠标问号，进一步确保应用的语义是正确的（要知道，交互他们也有洁癖，如果你不去掉，那得多花点口舌） */
abbr {
  cursor: help;
}
/* 一致的 del 样式 */
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 400;
}
/* 去掉列表前的标识, li 会继承，大部分网站通常用列表来很多内容，所以应该当去 */
ul,
ol {
  list-style: none;
}
i {
  font-style: normal;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,
th {
  text-align: left;
}
q:before,
q:after {
  content: '';
}
/* 让链接在 hover 状态下显示下划线 */
a:hover {
  text-decoration: underline;
}
/* 默认不显示下划线，保持页面简洁 */
ins,
a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}
u,
.typo-u {
  text-decoration: underline;
}
/* 标记，类似于手写的荧光笔的作用 */
mark {
  background: #fffdd1;
}
/* 代码片断 */
pre,
code {
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre {
  border: 1px solid #ddd;
  border-left-width: 0.4em;
  background: #fbfbfb;
  padding: 10px;
}
/* 底部印刷体、版本等标记 */
small {
  font-size: 12px;
  color: #888;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clear {
  display: block;
  clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-weight: 800 \9;
  color: #333;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
  outline: none;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ccc;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccc;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="input"] {
  -webkit-appearance: none;
}
select {
  -webkit-appearance: none !important;
  border-radius: 0;
  -webkit-appearance: menulist;
  -webkit-box-sizing: border-box;
  -webkit-box-align: center;
  border: 1px solid;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: white;
  cursor: default;
}
body {
  font-size: 16px;
  color: #666;
}
body {
  padding-top: 13px;
  background: url(../images/sidebg.png) no-repeat top right;
  background-size: 45%;
}
.tindent20 {
  text-indent: 20px;
}
.tleft {
  text-align: left !important;
}
.head {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.head .logo a {
  display: inline-block;
  width: 207px;
}
.head .logo a img {
  width: 100%;
}
.menu {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  margin-top: 23px;
}
.menu .pmenu .items {
  position: relative;
  float: left;
  height: 60px;
  background: url(../images/menuspli.png) no-repeat;
  width: 120px;
}
.menu .pmenu .items a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.menu .pmenu .items .cmenu {
  position: absolute;
  top: 60px;
  display: none;
  width: 100%;
}
.menu .pmenu .items .cmenu li {
  list-style: none;
  height: 28px;
  line-height: 28px;
  background: #fff;
  margin-top: 1px;
}
.menu .pmenu .items .cmenu li a {
  display: block;
  font-size: 14px;
}
.menu .pmenu .items .cmenu li a:hover {
  color: #fff;
}
.menu .pmenu .items .cmenu li:hover {
  background: #ff6600;
}
.menu .pmenu .items:hover .cmenu {
  display: block;
}
.menu .pmenu .items:first-child {
  background: none;
}
.contact {
  position: absolute;
  top: 38px;
  right: 50px;
  width: 130px;
  height: 120px;
  padding-top: 110px;
  padding-left: 15px;
  background: url(../images/contactus.png) no-repeat center;
  background-size: 100%;
}
.contact dl dt {
  color: #000;
  font-size: 14px;
}
.contact dd {
  margin-left: 0;
  color: #fff;
}
.top {
  display: none;
  width: 100%;
  background-color: #2a8cff;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  z-index: 100;
}
.top .dir-left {
  position: absolute;
  width: 12px;
  height: 50px;
  top: 0;
  left: 10px;
}
.top .dir-left img {
  width: 100%;
}
.top .t-text {
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.top .icon-home {
  position: absolute;
  height: 50px;
  width: 23px;
  right: 10px;
  top: 0;
}
.top .icon-home img {
  width: 100%;
}
.banner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.banner img {
  width: 100%;
  vertical-align: top;
}
.mbanner {
  display: none;
  width: 100%;
  margin-top: 50px;
}
.mbanner img {
  width: 100%;
}
.wrap {
  max-width: 1000px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.wrap .side-tab {
  float: left;
  margin-top: -54px;
}
.wrap .side-tab ul {
  border-bottom: 1px solid #cccccc;
}
.wrap .side-tab ul li {
  padding: 15px 135px 15px 17px;
  border: 1px solid #cccccc;
  border-bottom: none;
  cursor: pointer;
}
.wrap .side-tab ul li:first-child {
  background-color: #063d76;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: default;
}
.wrap .side-tab ul li:last-child {
  border-bottom: 1px solid #cccccc;
}
.wrap .side-tab .active {
  color: #ff6600;
}
.wrap .tab-content {
  float: left;
  color: #172c45;
  max-width: 720px;
  width: 100%;
  margin-left: 30px;
}
.wrap .tab-content h2 {
  font-size: 32px;
  margin-top: 38px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  max-width: 700px;
}
.wrap .tab-content .title {
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 41px;
}
.wrap .tab-content .title.block {
  margin-bottom: 0;
}
.wrap .tab-content .second {
  margin-bottom: 50px;
}
.wrap .tab-content ul.contentul li {
  margin-bottom: 41px;
}
.wrap .tab-content ul.contentul li dt {
  font-weight: bold;
}
.wrap .tab-content ul.tipul {
  margin-bottom: 40px;
}
.wrap .tab-content ul.tipul li {
  margin-bottom: 0;
  line-height: 30px;
}
.wrap .tab-content ul.featureul li {
  margin-bottom: 40px;
  line-height: 25px;
}
.wrap .tab-content ul.featureul li h4 {
  font-size: 16px;
  font-weight: bold;
}
.wrap .tab-content ul.featureul li .paragraph {
  margin-top: 40px;
}
.wrap .tab-content .car-list {
  font-size: 16px;
  margin-top: 26px;
}
.wrap .tab-content .car-list li {
  float: left;
  padding-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 33%;
}
.wrap .tab-content .car-list li .imgpic img {
  width: 100%;
}
.wrap .tab-content .car-list li p {
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.wrap .tab-content .title.cartil {
  text-align: center;
}
.wrap .tab-content .carpic {
  text-align: center;
}
.wrap .tab-content .carpic .pre {
  float: left;
  margin-right: 75px;
  margin-top: 160px;
}
.wrap .tab-content .carpic .pic {
  float: left;
}
.wrap .tab-content .carpic .next {
  float: right;
  margin-top: 160px;
}
.wrap .tab-content .page-list {
  margin: 10px 0 50px 0;
}
.wrap .tab-content .page-list li {
  height: 34px;
  border: 1px solid #d8dadf;
  display: inline-block;
  padding: 0 12px;
  line-height: 34px;
}
.wrap .tab-content .page-list li a {
  color: #a4a4a4;
  font-size: 14px;
}
.wrap .tab-content .page-list .current {
  background: #ff6600;
}
.wrap .tab-content .page-list .current a {
  color: #fff;
}
.wrap .tab-content .news-list {
  margin-top: 10px;
}
.wrap .tab-content .news-list li {
  line-height: 40px;
  height: 40px;
  position: relative;
}
.wrap .tab-content .news-list li .iPic {
  position: absolute;
  margin-right: 5px;
}
.wrap .tab-content .news-list li .news {
  box-sizing: border-box;
  padding-left: 10px;
}
.wrap .tab-content .news-list li .news a {
  display: block;
  color: #172c45;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 40px;
}
.wrap .tab-content .news-list li .news a:hover {
  color: #ff6600;
}
.wrap .tab-content .title.feature-title {
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.wrap .tab-content .paragraph {
  margin-bottom: 30px;
  text-indent: 22px;
  line-height: 28px;
}
.wrap .tab-content .next {
  margin-bottom: 50px;
}
.wrap .tab-content .introduction {
  line-height: 27px;
  margin-bottom: 32px;
}
.wrap .tab-content .introduction dt {
  font-weight: bold;
}
.wrap .tab-content .introduction dt.service {
  margin-top: 20px;
  margin-bottom: 30px;
}
.wrap .tab-content .introduction .mainbiz dt {
  float: left;
}
.wrap .tab-content .introduction dt.contactus {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: normal;
}
.wrap .tab-content .news-title {
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 30px;
}
.wrap .tab-content .news-title h3 {
  color: #000;
  font-size: 28px;
  line-height: 33px;
  margin: 20px 0;
}
.wrap .tab-content .news-title .describe {
  color: #888;
  font-size: 12px;
  line-height: 20px;
}
.wrap .tab-content .news-title .describe span.title,
.wrap .tab-content .news-title .describe .jiathis_style {
  display: inline-block;
  vertical-align: middle;
}
.wrap .tab-content .news-title .describe .time {
  margin-right: 5px;
}
.wrap .sub-title {
  font-size: 26px;
  color: #172c45;
  text-align: center;
  margin-top: 25px;
}
.wrap .sub-title.stock {
  margin-bottom: 30px;
}
.wrap .stolp {
  margin-bottom: 63px;
}
.wrap .servicep {
  margin-top: 27px;
}
.foot {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #063d76;
}
.foot .inner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
}
.foot .inner ul {
  float: left;
}
.foot .inner ul li {
  display: inline-block;
}
.foot .inner ul li a {
  color: #fff;
  font-size: 12px;
}
.foot .inner p {
  float: right;
  color: #fff;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '';
  clear: both;
  height: 0;
  display: block;
}
@media screen and (max-width: 1000px) {
  body {
    padding-top: 0;
    background: #e9e9f2;
    font-size: 14px;
  }
  .m-hide {
    display: none !important;
  }
  .head,
  .banner {
    display: none;
  }
  .top,
  .mbanner {
    display: block;
  }
  .wrap {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    margin-top: -20px;
    padding-bottom: 20px;
  }
  .wrap .side-tab {
    float: none;
    margin-top: 12px;
  }
  .wrap .side-tab ul li {
    display: inline-block;
    padding: 0 20px;
    background: #fff;
    color: #5b626c;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    border-radius: 20px;
    margin-left: 7px;
    border: 1px solid #cccccc;
    margin-bottom: 8px;
  }
  .wrap .side-tab .active {
    background: #2a8cff;
    color: #fff;
  }
  .wrap .tab-content {
    float: none;
    margin-left: 0;
    box-sizing: border-box;
    padding: 0 5px;
  }
  .wrap .tab-content h2 {
    font-size: 26px;
    color: #172c45;
    text-align: center;
    margin-top: 25px;
    font-weight: normal;
    border-bottom: none;
  }
  .wrap .tab-content ul.contentul li dt {
    font-weight: normal;
    font-size: 16px;
    color: #ff6600;
  }
  .wrap .tab-content .sub-title {
    display: none;
  }
  .wrap .tab-content .title {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
  }
  .wrap .tab-content .car-list {
    margin-left: 12px;
  }
  .wrap .tab-content .car-list li {
    padding-right: 12px;
  }
  .wrap .tab-content .page-list {
    padding: 0 10px;
  }
  .wrap .tab-content .page-list li {
    display: none;
  }
  .wrap .tab-content .page-list li:first-child,
  .wrap .tab-content .page-list li:last-child {
    display: block;
    float: left;
    padding: 0 35px;
    border-radius: 25px;
  }
  .wrap .tab-content .page-list li:last-child {
    float: right;
  }
  .wrap .tab-content .about dt {
    float: none !important;
    color: #ff6600;
    font-size: 16px;
    font-weight: normal;
  }
  .wrap .tab-content .introduction dt.contactus {
    margin: 0;
  }
  .wrap .tab-content .cus .tel {
    color: #ff6600;
  }
  .wrap .tab-content .lugtit {
    margin: 0;
    text-align: left;
    color: #ff6600;
  }
  .wrap .tab-content .title.feature-title {
    text-align: left;
    margin-left: 0;
    color: #ff6600;
  }
  .wrap .tab-content ul.featureul li h4 {
    color: #ff6600;
    font-weight: normal;
  }
  .wrap .tab-content .paragraph {
    text-indent: 0;
  }
  .wrap .tab-content .news-title h3 {
    text-align: center;
    font-size: 18px;
    font-size: 22px;
    margin: 10px 0;
  }
  .wrap-inner {
    background: #fff;
    border-radius: 6px;
    padding-bottom: 5px;
  }
  .foot {
    display: none;
  }
}
.left {
  max-width: 440px;
  width: 100%;
  float: left;
  box-sizing: border-box;
}
.left h3 {
  font-size: 26px;
  margin-top: 28px;
  margin-bottom: 15px;
}
.left .news-list.newslistl li {
  margin-bottom: 21px;
}
.left .news-list.newslistl li dt {
  font-weight: bold;
  color: #0873c0;
  margin-bottom: 16px;
  font-size: 14px;
}
.left .news-list.newslistl li dd .date {
  float: left;
  padding-right: 7px;
  border-right: 1px solid #ddd;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  text-align: center;
}
.left .news-list.newslistl li dd .date .year {
  font-size: 12px;
  color: #666;
  display: block;
}
.left .news-list.newslistl li dd .lines {
  float: left;
  max-width: 365px;
  width: 100%;
  padding-left: 13px;
  box-sizing: border-box;
  line-height: 23px;
  font-size: 12px;
}
.left .news-list.newslistl li dd .lines span {
  display: block;
  max-height: 40px;
  overflow: hidden;
}
.left .news-list.newslistl li dd .lines .more {
  display: block;
  margin-top: 8px;
}
.middle {
  max-width: 240px;
  width: 100%;
  height: 455px;
  float: left;
  position: relative;
  background: url(../images/slogen.jpg) no-repeat top;
}
.middle .slogen p {
  position: absolute;
  bottom: 40px;
  padding-left: 15px;
  color: #fefeff;
}
.right {
  margin-top: 20px;
  margin-left: 20px;
  float: left;
  max-width: 280px;
  width: 100%;
}
.right h3 {
  font-size: 26px;
  color: #000;
  margin-bottom: 10px;
  margin-top: 15px;
}
.right .newlest p {
  line-height: 23px;
  font-size: 12px;
  color: #172c45;
  max-height: 115px;
  overflow: hidden;
}
.right .shipping-lines ul li a {
  font-size: 12px;
  line-height: 26px;
}
.right .shipping-lines ul li a span.line-name {
  margin-right: 22px;
}
.more {
  display: block;
  margin-top: 13px;
  margin-bottom: 16px;
}
.foot-wrap {
  margin-top: 40px;
}
.foot-wrap .tab-head {
  margin-bottom: 23px;
}
.foot-wrap .tab-head li {
  display: inline-block;
  font-size: 26px;
  margin-right: 43px;
  cursor: pointer;
}
.foot-wrap .tab-head .current {
  color: #ff6600;
}
.foot-wrap .tab-contenth {
  max-width: 100%;
  margin-bottom: 50px;
}
.foot-wrap .tab-contenth > div {
  display: none;
}
.foot-wrap .tab-contenth .hcartype li {
  display: inline-block;
  width: 24%;
  box-sizing: border-box;
}
.foot-wrap .tab-contenth .current {
  display: block;
}
.m-menu,
.news,
.shipping-cars,
.car-name {
  display: none;
}
.dir-right {
  display: none;
}
.code {
  position: absolute;
  top: 365px;
}
.code .code-img {
  width: 160px;
  height: 130px;
  background: url('../images/codeimg.png') no-repeat;
  float: left;
}
.code .code-bg {
  background: url('../images/codebg.png');
  height: 130px;
  float: left;
}
@media screen and (max-width: 1000px) {
  .wrap-inner {
    padding-top: 17px;
  }
  .wrap-inner .m-menu {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e9e9f2;
  }
  .wrap-inner .m-menu ul {
    display: flex;
  }
  .wrap-inner .m-menu ul li {
    flex: 1;
    text-align: center;
  }
  .wrap-inner .m-menu ul li .icon {
    display: block;
    width: 41px;
    margin: 0 auto;
  }
  .wrap-inner .m-menu ul li .icon img {
    width: 100%;
  }
  .wrap-inner .m-menu ul li span {
    font-size: 13px;
  }
  .wrap-inner .news {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
  }
  .wrap-inner .news a span {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 7px;
    margin-right: 10px;
    display: inline-block;
    width: 58px;
    border-right: 1px solid #e9e9f2;
  }
  .wrap-inner .news a span img {
    width: 100%;
  }
  .wrap-inner .news a .cir-right {
    display: inline-block;
    width: 18px;
    float: right;
    margin-top: 17px;
  }
  .wrap-inner .news a .cir-right img {
    width: 100%;
  }
  .wrap-inner.indinner {
    padding-top: 0;
  }
  .left {
    float: none;
    max-width: 100%;
  }
  .left h3 {
    display: none;
  }
  .left .news-list.newslistl {
    background-color: #fff;
    margin-left: -10px;
    margin-right: -10px;
    padding: 0px 10px;
  }
  .left .news-list.newslistl li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: 1px solid #e9e9f2;
  }
  .left .news-list.newslistl li dt {
    color: #333;
    font-size: 16px;
    font-weight: normal;
  }
  .left .news-list.newslistl li dd .date {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
  }
  .left .news-list.newslistl li dd .date .year {
    color: #ccc;
  }
  .left .news-list.newslistl li dd .lines {
    max-width: 256px;
    font-size: 13px;
    color: #666;
  }
  .left .news-list.newslistl li dd .lines .more {
    display: none;
  }
  .middle {
    display: none;
  }
  .right {
    float: none;
    margin: 0;
    max-width: 100%;
  }
  .right h3 {
    display: none;
  }
  .right .newlest {
    display: none;
  }
  .right .shipping-lines .line-list {
    background-color: #fff;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .right .shipping-lines .line-list li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9f2;
  }
  .right .shipping-lines .line-list li .line-name {
    display: block;
    font-size: 16px;
    line-height: 35px;
  }
  .right .shipping-lines .line-list li .callforD {
    color: #666;
    font-size: 14px;
  }
  .right .shipping-lines .line-list li .phone {
    color: #ff6600;
    font-size: 14px;
  }
  .shipping-cars {
    display: block;
  }
  .foot-wrap {
    margin-top: 0;
  }
  .foot-wrap .tab-head {
    margin-bottom: 0;
  }
  .foot-wrap .tab-head li.vehicle {
    display: block;
    font-size: 18px;
    color: #666;
    margin-top: 8px;
    margin-bottom: 8px;
    position: relative;
    margin-right: 0;
  }
  .foot-wrap .tab-head li.vehicle a {
    display: block !important;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .foot-wrap .tab-head li.vehicle .dir-right {
    margin-top: 0;
  }
  .foot-wrap .tab-contenth .hcartype {
    margin-right: -10px;
    background-color: #fff;
    margin-left: -10px;
    padding: 10px 0 15px 10px;
  }
  .foot-wrap .tab-contenth .hcartype li {
    display: block;
    float: left;
    padding: 10px 10px 0 0;
    width: 33%;
    box-sizing: border-box;
  }
  .foot-wrap .tab-contenth .hcartype li img {
    width: 100%;
  }
  .foot-wrap .tab-contenth .hcartype li p {
    margin-top: 10px;
  }
  .foot-wrap .tab-contenth .hcartype li p a {
    display: block;
    text-align: center;
  }
  .foot-wrap .tab-contenth .hcartype li:nth-child(4) {
    display: none;
  }
  .til {
    display: block;
  }
  .til h3 {
    display: block;
    font-size: 18px;
    color: #666;
    margin-top: 8px;
    margin-bottom: 8px;
    float: left;
  }
  .dir-right {
    display: inline-block;
    float: right;
    width: 8px;
    margin-top: 15px;
  }
  .dir-right img {
    width: 100%;
  }
  .car-name {
    display: block;
  }
}
@media screen and (max-width: 360px) {
  .wrap .side-tab ul li {
    padding-left: 12px;
    padding-right: 12px;
  }
}
